[submodule "projects/aldea"]
	path = projects/aldea
	url = git@bitbucket.org:nhac/aldea.git
[submodule "projects/cuenta"]
	path = projects/cuenta
	url = git@bitbucket.org:nhac/cuenta.git
[submodule "projects/dios"]
	path = projects/dios
	url = git@bitbucket.org:nhac/dios.git
[submodule "projects/kong"]
	path = projects/kong
	url = git@bitbucket.org:nhac/kong.git
[submodule "projects/caja"]
	path = projects/caja
	url = git@bitbucket.org:nhac/caja.git
[submodule "projects/puerta"]
	path = projects/puerta
	url = git@bitbucket.org:nhac/puerta.git
