[submodule "projects/aldea"]
	path = projects/aldea
	url = git@bitbucket.org:nhac/aldea.git
[submodule "projects/cuenta"]
	path = projects/cuenta
	url = git@bitbucket.org:nhac/cuenta.git
[submodule "projects/dios"]
	path = projects/dios
	url = git@bitbucket.org:nhac/dios.git
